<h2> Recipe List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Title</th>
            <th> Description </th>
            <th> Instruction</th>
            <th> Difficulty </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let recipe of recipes" >
            <td> {{ recipe.title }} </td>
            <td> {{ recipe.description }} </td>
            <td> {{ recipe.instruction }} </td>
            <td> {{ recipe.difficulty }} </td>
            <!-- <td>
                <button (click) = "updateEmployee(recipe.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteEmployee(recipe.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "employeeDetails(recipe.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td> -->
        </tr>
    </tbody>
</table>